@use 'vars';
@use 'fonts';
@use 'reset';
@use 'global';
@use 'media';

.header {
  padding: 50px 0 45px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item {
    margin-right: 35px;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    &:last-child {
      margin-right: 0;
    }
  }
  &__list-link {
    color: #436372;
  }
}

.user-nav {
  display: flex;
  align-items: center;
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: vars.$accent;
  }
  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 25px;
    width: 180px;
    height: 50px;
    border-radius: 30px;
    background-color: #fcd7b6;
    p {
      color: vars.$bg;
      font-size: 30px;
    }
  }
  &__box-link {
    position: relative;
    margin: 0 35px;
  }
  &__box-num {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    color: vars.$subtitle;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
  }
  &__link--search {
    background-color: #edf1f4;
    margin-right: 25px;
  }
}

.logo {
  display: flex;
  span {
    font-size: 36px;
    line-height: 58px;
    @extend %rubik-500;
    color: #436372;
    margin-left: 14px;
  }
}

.footer {
  padding: 80px 0 40px;
}

.footer-top {
  margin-bottom: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid vars.$default;
  display: flex;
  justify-content: space-between;
  &__title {
    @extend %dmsans-700;
    font-size: 16px;
    color: #1f2044;
    margin: 20px 0 25px;
    text-transform: uppercase;
  }
  &__item {
    margin-bottom: 10px;
    a {
      color: vars.$default;
      margin-bottom: 10px;
    }
    span {
      text-transform: uppercase;
    }
  }
  &__item--contacts {
    display: flex;
    flex-direction: column;
    max-width: 200px;
  }
  &__text {
    width: 240px;
    padding-bottom: 40px;
  }
  &__form {
    display: flex;
  }
  &__form-input {
    background-color: vars.$bg;
    color: #234969;
    font-size: 12px;
    border: none;
    width: 170px;
    height: 38px;
    padding-left: 15px;
    &::placeholder {
      color: #234969;
    }
  }
  &__form-btn {
    background-color: vars.$accent;
    color: #fff;
    border: none;
    width: 100px;
    height: 38px;
  }
 }

 .footer-bottom {
  display: flex;
  justify-content: space-between;
  &__list {
    display: flex;
  }
  &__list-item {
    margin-left: 30px;
    position: relative;
    &::before {
      content: "|";
      position: absolute;
      top: 0;
      left: -15px;
    }
    &:first-child::before {
      content: "";
    }
  }
 }

 .footer__logo {
  margin-bottom: 30px;
 }

.top {
  margin-bottom: 75px;
}

.top-slider {
  background-image: url('../images/bg-top.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 820px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  &__inner {
    max-width: 1200px; 
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__box {
    max-width: 412px;
  }
  &__items {
    width: 100%; 
    overflow: hidden;
  }
  .slick-track {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .slick-slide {
    display: flex;
    justify-content: right;
    padding-top: 270px;
    margin-bottom: 170px;
  }
  .slick-dots {
    display: flex;
    margin-left: 120px;
    bottom: 0;
    li {
      margin: 0 5px;
      button {
        text-decoration: none;
        width: 30px;
        height: 30px;
        font-size: 11px;
        line-height: 9px;
        background-color: #fde3cc;
        color: vars.$subtitle;
        border-radius: 50%;
        border: none;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
  &__title {
    @extend %rubik-500;
    font-size: 72px;
    line-height: 70px;
    color: vars.$subtitle;
    margin-bottom: 40px;
  }
  &__text {
    width: 370px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__btn {
    background-color: vars.$accent;
    border: none;
    width: 200px;
    height: 60px;
  }
  &__link {
    color: #fff;
    display: flex;
    margin-left: 25px;
    position: relative;
    &::after {
      content: url('../images/icons/arrow-right.svg');
      position: absolute;
      top: 0;
      left: 120px;
    }
  }
}

.top-content {
  background-color: vars.$bg;
  display: flex;
  justify-content: space-around;
  &__item {
    padding: 45px 0;
    margin: 0 100px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 51px;
      height: 52px;
      top: 60px;
      left: 0;
      background-image: url('../images/icons/24.svg');
    }
  }
  &__item--delivery {
    padding-left: 150px;
    padding-right: 150px;
    border-left: 1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
  }
  &__item--delivery::after {
    content: "";
    position: absolute;
    left: 150px;
    width: 54px;
    height: 36px;
    background-image: url('../images/icons/delivery.svg');
  }
  &__item--payment::after {
    width: 54px;
    height: 52px;
    background-image: url('../images/icons/credit-card.svg');
  }
  &__title {
    margin-left: 70px;
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &__text {
    width: 210px;
    margin-left: 70px;
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
}







